<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Minecraft item</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='/style.css') }}" />
  </head>
  <body>

    <form method="GET" action="/">
    <input type="text" name="search" placeholder="Enter item name..." value="{{ search }}">
    <button type="submit">Search</button>
  </form>
{% if search %}
  {% if items %}
    <div class="card">
      <img src="{{ items[0].image }}" alt="{{ items[0].name }}">
      <h3>{{ items[0].name }}</h3>
    </div>
  {% else %}
    <p>No item found for "{{ search }}".</p>

  {% endif %}
{% else %}

    <div class="container">
      <h1>Minecraft items</h1>
      <div class="card-container">

        {% for item in items %}
        <a href="{{ url_for('item_detail', id=item.id) }}" class="card-link">
          <div class="card">
            <img src="{{ item.image }}" alt="{{ item.name }}" />
            <div class="card-body">
              <h5 class="card-title">{{ item.name }}</h5>
              <p class="card-text">ID: {{ item.id }}</p>
              </div>
              </div>
              </a>
              {% endfor %}
            </div>
          </div>

      {% endif %}

  </body>
</html>