<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Minecraft item</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>

    <form method="GET" action="/">
      <input type="text" name="search" placeholder="Enter item Name..." value="{{ search }}">
      <button type="submit">Search by Name</button>
    </form>
{% if search %}
  {% if items %}
  <div class="card-container">
    {% for item in items %}
      <a href="{{ url_for('item_detail', name=item.name_raw) }}" class="card-link">
        <div class="card">
          <img src="{{ item.image }}" alt="{{ item.name_display }}" onerror="this.style.display='none'; this.nextElementSibling.hidden=false;">
          <p hidden>No image found</p>
          <h3>{{ item.name_display }}</h3>

        </div>
      </a>
    {% endfor %}
  </div>
  
  {% else %}
    <p>No item found for "{{ search }}".</p>
  {% endif %}
{% else %}

    <div class="container">
      <h1>Minecraft items</h1>
      <div class="card-container">

        {% for item in items %}
        <a href="{{ url_for('item_detail', name=item.name_raw) }}" class="card-link">
          <div class="card">
            <img src="{{ item.image }}" alt="{{ item.name_display }}" onerror="this.style.display='none'; this.nextElementSibling.style.display='block';">
            <p hidden>No image found</p>
            <div class="card-body">
              <h5 class="card-title">{{ item.name_display }}</h5>
              

            </div>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>

{% endif %}

  </body>
</html>