<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{{ item.name }} Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/style.css') }}" />
  </head>
  <body>
    <div class="container">
      <h1>{{ item.name }} Details</h1>
      <div class="item-detail">
        <img src="{{ item.image }}" alt="Image of {{ item.name }}" />
        <p><strong>ID:</strong> {{ item.id }}</p>
        <p><strong>Describtion:</strong> {{item.describtion}}</p>


      </div>

      </div>

      <p><a href="{{ url_for('index') }}">Back to all items</a></p>
    </div>


  </body>
</html>

